<!---#:javascript-->
<!---#  var editor = new wysihtml5.Editor("textarea",-->
<!---#  { // id of textarea element-->
<!---#    toolbar:      "toolbar", // id of toolbar element-->
<!---#    stylesheets:  "css/stylesheet.css",-->
<!---#    parserRules:  wysihtml5ParserRules // defined in parser rules set-->
<!---#-->
<!---#  });-->
<!---#-->
<!---#= form_tag ('/') do |f|-->
<!---#  %div#toolbar{:style=>"display: none;"}-->
<!---#    %a{"data-wysihtml5-command"=>"bold"} Bold-->
<!---#    %a{"data-wysihtml5-command"=>"italic"} Italic-->
<!---#  = text_area_tag 'post', '', {:id => "textarea"}-->

<form>
  <div id="wysihtml5-toolbar" style="display: none;">
  <a data-wysihtml5-command="bold">bold</a>
  <a data-wysihtml5-command="italic">italic</a>

  <!-- Some wysihtml5 commands require extra parameters -->
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>

  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
  <a data-wysihtml5-command="createLink">insert link</a>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>
  <textarea id="textarea" placeholder="Enter your text ..." autofocus></textarea>
</form>
<script>
var editor = new wysihtml5.Editor("textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  stylesheets:      "assets/wysiwyg/stylesheet.css", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set
});
</script>